* {
    box-sizing: border-box;
}
.gameboard {
    width: 75vh;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid purple;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 50px;
    background: white;
    // z-index: -1;
    // flex-direction: column;
}

.gridsquare, .blank {
    position: relative; // needed for absolute positioning of children to work
    width: 5%;
    height: 5%;
    border: 1px solid black;
}

.room {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    background: pink;
    border: 1px solid blue;
    display: flex;
}

.south-door {
    position: absolute;
    top: 75%;
    left: 25%;
    width: 25%;
    height: 25%;
    background: skyblue;
}

.east-door {
    position: absolute;
    top: 25%;
    left: 75%;
    width: 25%;
    height: 25%;
    background: brown;
}