.gameboard {
    width: 100vw;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    margin: 0 auto;
    justify-content: space-around;
    flex-direction: column;
}

.room {
    width: 10%;
    background: pink;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.south-door {
    width: 20px;
    height: 20px;
    background: skyblue;
}
