// .info-panel {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 200px;
//     text-align: center;
//     border: 5px solid purple;
//     position: absolute;
//     right: 150px;
//     top: 150px;
//     padding: 10px;


//     .title {
//         font-weight: bold;
//     }

//     .description {
//         font-size: 1em;
//     }
// }

.info-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    height: auto;
    text-align: center;
    border: 1px solid black;
    border: 5px solid purple;


    .title {
        font-weight: bold;
    }

    .description {
        font-size: .8em;
        margin-top: -15px;
    }
}